body {
    margin: 60px auto;
    width: 70%;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: darkred;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 2.0em;
    line-height: 2.0em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    color: darkred;
}
h2 {
    font-size: 1.6em;
    line-height: 1.6em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    color: darkred;
}
p {
    font-size: 1.2em;
    line-height: 1.2em;
    color: #202020;
}
p.caption {
    font-size: 1.2em;
    line-height: 1.2em;
    color: #202020;
    text-decoration: underline;
}
footer {
    border-top: 2px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.2em;
}

ul.posts li {
    list-style: none;
    font-size: 1.2em;
}
