<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Start</a></li>
		        	<li><a href="/interface">Interface</a></li>
	        		<li><a href="/links">Links</a></li>
	    		</ul>
			</nav>
			<div class="container">
			<img src="img/romde-rund.png" alt="Logo von romanistik.de" style="width:150px;float:right;float:top;">
			{{ content }}
			
			</div><!-- /.container -->
			<br/>
			<footer>
	    		<ul>
	        		<li><a href="mailto:vorstand@romanistik.de">email</a></li>
	        		<li><a href="https://romanistik.de">romanistik.de</a></li>
				</ul>
			</footer>
		</body>
	</html>
