<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
	        		<li><a href="/vorlesung">Vorlesung</a></li>
		        	<li><a href="/projekte">Projekte</a></li>
	        		<li><a href="/links">Links</a></li>
	    		</ul>
			</nav>
			<div class="container">
			<img src="img/UTR_Logo.png" alt="Logo der Universität Trier" style="width:260px;float:right;float:top;">
			{{ content }}
			
			</div><!-- /.container -->
			<br/>
			<footer>
	    		<ul>
	        		<li><a href="mailto:schoech@uni-trier.de">email</a></li>
	        		<li><a href="https://dh.uni-trier.de">dh.uni-trier.de</a></li>
				</ul>
			</footer>
		</body>
	</html>
